.svgContainer {
  svg {
    width: 100%;
    height: auto;

    * {
      font-family: 'Articulat CF', sans-serif;
    }
    
    &:has(:global(.svg-seat_selected)) *:not(:has(> *)):not(:global(.svg-seat_selected)) {
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
      transition-property: opacity;
      filter: blur(2px);
      opacity: 0.5;
    }
  }
}

.svg-scheme-hover {
  stroke-width: 3px;
}

.preview {
  width: 150px;
  min-height: 105px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #343433;
  border-radius: 16px;
  color: #fff;
  padding-top: 11px;
  box-shadow: 0px 1px 3px 0px #00000033,
    1px 5px 5px 0px #0000002B,
    3px 11px 7px 0px #0000001A,
    5px 20px 8px 0px #00000008,
    8px 32px 9px 0px #00000000;

  .block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
  }
  .desc {
    display: inline-block;
    align-items: center;
    .text {
      font-size: 12px;
      color: #fff;
      margin-top: 5px;
    }
  }
  .category {
    font-size: 12px;
  }

  .price {
    font-size: 18px;
  }

  .icon {
    svg {
      width: 18px;
      height: 18px;
    }
  }

  .container {
    display: flex;
    align-items: center;
    padding: 0 12px;
    gap: 20px;
    margin-bottom: 5px;
  }

  .row,
  .seat {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #aaa;
    font-size: 12px;
    span {
      font-size: 12px;
      color: #f8f5ec;
      display: block;
    }
  }

  .footer {
    width: 100%;
    flex: 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-size: 13px;
    border-top: 1px solid #666;
    color: #212121;
    border-radius: 0 0 15px 15px;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.svgSchemeTooltip {
  position: absolute;
  opacity: 0;
  left: -500px;
  top: -500px;
  transition: ease 0.01s opacity;
  box-shadow: 0px 4px 4px 0px #0000000d;
  pointer-events: none;
  animation: ease-in-out .3s slideUp ;

  :global(.drag-scheme) & {
    display: none;
  }
}

.scheme {
  position: relative;
}

.selected {
  color: #2c2c2b;
  background: #53bc6b;
}
.select {
  color: #525250;
}

.selected_seat {
  position: relative;
}

.selected_seat::before {
  content: "✔";
  position: absolute;
  width: 100%;
  height: 100%;
  color: #343433;
  border-radius: 50%;
  z-index: 99;
}

@media (max-width: 800px) {
  .svgSchemeTooltip {
    pointer-events: all;
  }
}

.readonly {
  pointer-events: none;
}

@keyframes showOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hoverOverlay {
  position: absolute;
  inset: 0;
  background: #21212199;
  pointer-events: none;
  animation: ease-out 0.3s showOpacity;

  & > div {
    border-radius: 100%;
    position: fixed;
  }
}