@font-face {
    font-family: 'Articulat CF';
    src: url('/fonts/ArticulatCF-BoldOblique.woff2') format('woff2'),
        url('/fonts/ArticulatCF-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat CF';
    src: url('/fonts/ArticulatCF-HeavyOblique.woff2') format('woff2'),
        url('/fonts/ArticulatCF-HeavyOblique.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat CF';
    src: url('/fonts/ArticulatCF-Light.woff2') format('woff2'),
        url('/fonts/ArticulatCF-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat CF';
    src: url('/fonts/ArticulatCF-Heavy.woff2') format('woff2'),
        url('/fonts/ArticulatCF-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat CF';
    src: url('/fonts/ArticulatCF-MediumOblique.woff2') format('woff2'),
        url('/fonts/ArticulatCF-MediumOblique.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat CF Demi';
    src: url('/fonts/ArticulatCF-DemiBold.woff2') format('woff2'),
        url('/fonts/ArticulatCF-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat CF';
    src: url('/fonts/ArticulatCF-LightOblique.woff2') format('woff2'),
        url('/fonts/ArticulatCF-LightOblique.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat CF Extra';
    src: url('/fonts/ArticulatCF-ExtraBold.woff2') format('woff2'),
        url('/fonts/ArticulatCF-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat CF Extra';
    src: url('/fonts/ArticulatCF-ExtraBoldOblique.woff2') format('woff2'),
        url('/fonts/ArticulatCF-ExtraBoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat CF Demi';
    src: url('/fonts/ArticulatCF-DemiBoldOblique.woff2') format('woff2'),
        url('/fonts/ArticulatCF-DemiBoldOblique.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat CF';
    src: url('/fonts/ArticulatCF-Medium.woff2') format('woff2'),
        url('/fonts/ArticulatCF-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat CF Extra';
    src: url('/fonts/ArticulatCF-ExtraLightOblique.woff2') format('woff2'),
        url('/fonts/ArticulatCF-ExtraLightOblique.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat CF Extra';
    src: url('/fonts/ArticulatCF-ExtraLight.woff2') format('woff2'),
        url('/fonts/ArticulatCF-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat CF';
    src: url('/fonts/ArticulatCF-Bold.woff2') format('woff2'),
        url('/fonts/ArticulatCF-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat CF Text';
    src: url('/fonts/ArticulatCF-Text.woff2') format('woff2'),
        url('/fonts/ArticulatCF-Text.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat CF';
    src: url('/fonts/ArticulatCF-ThinOblique.woff2') format('woff2'),
        url('/fonts/ArticulatCF-ThinOblique.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat CF Normal';
    src: url('/fonts/ArticulatCF-Normal.woff2') format('woff2'),
        url('/fonts/ArticulatCF-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat CF Normal Oblique';
    src: url('/fonts/ArticulatCF-NormalOblique.woff2') format('woff2'),
        url('/fonts/ArticulatCF-NormalOblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat CF Text';
    src: url('/fonts/ArticulatCF-TextOblique.woff2') format('woff2'),
        url('/fonts/ArticulatCF-TextOblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat CF';
    src: url('/fonts/ArticulatCF-Thin.woff2') format('woff2'),
        url('/fonts/ArticulatCF-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

