@keyframes scaleIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.seat-check {
  stroke-width: 0.5px;
  width: 16px;
  height: 12px;
  animation-name: scaleIn;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.svg-seat {
  transition: ease .3s color;
}